<?xml version="1.0"?>
<configuration>

  <!--/*  */-->
  <connectionStrings>
    <add name="StarTEDDb"
         connectionString="Data Source=DESKTOP-DPT66DC\SQLEXPRESS;Initial Catalog=StarTED;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
